<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bus System - Home</title>
    <meta charset="UTF-8">
</head>
<body>

    <h2>IT Support</h2>
    <ul>
        <li><a href="/it-support/configs">System Configuration Management</a></li>
        <li><a href="/it-support/schedules">Schedule Maintenance</a></li>
        <li><a href="/it-support/users">User Access & Role Management</a></li>
        <li><a href="/it-support/backup/configs">Backup & Restore Management</a></li>
    </ul>

</body>
</html>